<div>
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="text" [(ngModel)]="formData.firstName" class="form-control"  id="first_name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" [(ngModel)]="formData.lastName" class="form-control"  id="last_name">
      </div>
      <div class="form-group">
        <label for="roll_number">Roll Number:</label>
        <input type="text" [(ngModel)]="formData.rollNumber" class="form-control"  id="roll_number">
      </div> 

      <div class="form-group">
        <label for="Result">Result:</label>
        <input type="text" [(ngModel)]="formData.result" class="form-control"  id="Result">
      </div> 
    <button *ngIf="!isEdit" type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
    <button *ngIf="isEdit" type="submit" (click)="onUpdate(formData)" class="btn btn-primary">Update</button>
</div>

<app-table [studentList]="studentList"  (studentUpdate)="onEdit($event)"></app-table>